.main {
  font-size: 50px;
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconLight {
  color: var(--grey4);
}

.light {
  color: var(--black);
}

.dark {
  background-color: var(--black);
  color: var(--white);
}
