.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 25px auto;
  padding: 15px;

  height: fit-content;
}
.mainDark {
  background-color: var(--black);
  color: var(--white);
}

.mainLight {
  background-color: var(--white);
  color: var(--black);
}
.subHeading {
  color: var(--purple);
  font-weight: 800;
}

.meaning {
  color: var(--grey4);
  margin: 5px 0;
}

.listMeaning {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
  word-wrap: break-word;
}

.synonyms {
  font-weight: 100;
  margin: 5px 0;
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.link:visted {
  text-decoration: underline;
}

.link:active {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media screen and (width<=600px) {
  .main {
    height: 600px;
    padding: 10px;
    width: fit-content;
    flex-wrap: wrap;
  }
}
